.c-choice-group-view{
    border: 1px solid palette(grey,2);
    margin-bottom: spacing(medium);
}

    .c-choice-group--header{
        background-color: palette(grey,1);
        padding: spacing(medium);
    }

    .c-choice-group--body{
        padding: 0 spacing(medium);
    }