$gutters: spacing(large);

.g-wrapper, [class^="g-wrapper"]{
  display: flex;
}

  /* With gutters */
  .g-wrapper__gutters {
    margin-left: -$gutters;
    display: flex;
    
    &> .g-cell, &> [class^="g-cell"] {
      padding-left: $gutters;
    }
  }

  .g-wrapper__centered-element{
    .g-cell{
      &:nth-child(2){
        flex: none;
        text-align: center;
      }

      &:last-child{
        text-align: right;
      }
    }
  }

.g-cell {
  flex: 1;
}

.g-cell__no-stretch{
  flex: none;
}

/* Alignment per row */
.g--top {
  align-items: flex-start;
}
.g--bottom {
  align-items: flex-end;
}
.g--center {
  align-items: center;
}

/* Alignment per cell */
.g-cell--top {
  align-self: flex-start;
}
.g-cell--bottom {
  align-self: flex-end;
}
.g-cell--center {
  align-self: center;
}

.g-cell__half{
  flex: none!important;  
  width: 50%!important;
}

.g-cell__two-thirds{
  flex: none!important;  
  width: 66%!important;
}