.l-header{
    padding: spacing(x-small);
    @include breakpoint(medium){
        padding: spacing(large);
        padding-bottom: spacing(small);
    }
}
    .logo{
        width: 60px;
    }

        #rba-header-logo-svg{
            height: 40px;

            @include breakpoint(medium){
                height: 66px;
            }
        }

            .logo-hide-small{
                @include breakpoint(medmax){
                    display: none;
                }
            }

    .l-mobile-header--title{
        padding-top: spacing(xx-small);
        padding-right: 100px;
    }

.l-main-container{
    @include breakpoint(medium){
        padding: 0 spacing(large);
    }
}


    .l-container__narrow{
        margin: 0 auto;
        max-width: 480px;
    }

    .l-container__medium{
        margin: 0 auto;
        max-width: 800px;
    }


.l-fixed-banner{
    position: fixed;
    top: 40px;
    left: 2.5%;
    z-index: 1001;
    width: 95%;

    @include breakpoint(medium){
        width: 480px;
        left: 50%;
        margin-left: -240px;
    }
}

.l-pin-header-wrapper{
    .s-pin-nav &{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 100;
        
        @include breakpoint(medium){
            padding: 0 spacing(large);
        }
    }
}