.l-header{
    padding: spacing(large);
    padding-bottom: spacing(small);
}

.l-main-container{
    padding: 0 spacing(large);
}


    .l-container__narrow{
        margin: 0 auto;
        max-width: 480px;
    }

    .l-container__medium{
        margin: 0 auto;
        max-width: 800px;
    }


.l-fixed-banner{
    position: fixed;
    top: 40px;
    left: 50%;
    margin-left: -240px;
    width: 480px;
    z-index: 1000;
}

.l-pin-header-wrapper{
    .s-pin-nav &{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 spacing(large);
        z-index: 100;
        -webkit-transform: translateZ(0);
    }
}