.l-header{
    padding: spacing(large);
}

.l-main-container{
    padding: 0 spacing(large);
}


    .l-container__narrow{
        margin: 0 auto;
        max-width: 480px;
    }

    .l-container__medium{
        margin: 0 auto;
        max-width: 800px;
    }


.l-fixed-banner{
    position: fixed;
    top: 40px;
    left: 50%;
    margin-left: -240px;
    width: 480px;
    z-index: 1000;
}