.c-lot-listing{
    padding: spacing(medium) 0;

    &:not(:last-child){
        border-bottom: $ritchie-border;
    }
}

    .c-lot--lot-photo{
        width: 100%;
        max-width: 100%;
        display: block;
    }

    .c-lot--lot-number{
        margin-top: spacing(small);
    }

    .c-lot--lot-details{
        padding: 0 spacing(medium);
    }
    
    .c-lot--bid-and-closing{
        padding: spacing(small) 0;

        &>div+div{
            border-top: $ritchie-border;
            margin-top: spacing(small);
            padding-top: spacing(small);
        } //If there is both boxes show the border between them
    }


.c-lot-details--photo-area{
    max-width: 400px;
}


    .c-lot-details--lot-thumbnails{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .c-lot-details--lot-thumbnail{
            width: 32%;
            margin-bottom: spacing(x-small);

            img{
                display: block;
                width: 100%;
                max-width: 100%;
            }
        }

