[class^="o-message"]{
    position: relative;

    padding: spacing(small);
    padding-left: 52px;

    border: 1px solid transparent;

    &:before{
        content: "x";
        position: absolute;
        top: spacing(small);
        left: 10px;
        width: 32px;
        height: 32px;
    }
}

    .o-message__info{
        color: black;
        background-color: palette(blue,1);
        border-color: palette(blue,2);

        &:before{
            background-color: palette(blue);
        }
    }

    .o-message__error{
        color: black;
        background-color: palette(red,1);
        border-color: palette(red,2);
        
        &:before{
            background-color: palette(red);
        }
    }

    .o-message__warning{
        color: black;
        background-color: palette(yellow,1);
        border-color: palette(yellow,2);

        &:before{
            background-color: palette(yellow);
        }
    }

    .o-message__success{
        color: black;
        background-color: palette(green,1);
        border-color: palette(green,2);

        &:before{
            background-color: palette(green);
        }
    }