[class^="o-message"]{
    position: relative;

    padding: spacing(small);
    padding-left: 52px;

    border: 1px solid transparent;

    &:before{
        @include icon-font;
        font-size: 32px;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 32px;
        height: 32px;
    }

    &.s-pulsating{
        @include pulsating;
    }
}



    .o-message__info{
        color: black;
        background-color: palette(blue,1);
        border-color: palette(blue,2);
        @extend .icon-information;

        &:before{
            color: palette(blue);
        }
    }

    .o-message__choice-group{
        color: black;
        background-color: palette(blue,1);
        border-color: palette(blue,2);
        @extend .icon-group;

        &:before{
            color: palette(blue);
            font-size: 20px;
            line-height: 30px;
        }
    } 

    .o-message__error{
        color: black;
        background-color: palette(red,1);
        border-color: palette(red,2);
        @extend .icon-wrong;
        
        &:before{
            color: palette(red);
        }
    }

    .o-message__warning{
        color: black;
        background-color: palette(yellow,1);
        border-color: palette(yellow,2);
        @extend .icon-warning;

        &:before{
            color: palette(yellow);
        }
    }

    .o-message__success{
        color: black;
        background-color: palette(green,1);
        border-color: palette(green,2);
        @extend .icon-correct;

        &:before{
            color: palette(green);
        }
    }