.c-nav-tabs{
    border-bottom: 1px solid palette(grey,2);
    background-color: white;
}

    // .c-nav-tabs--tab-group{
    //     //flex-flow: start;
    // }

    .c-nav-tabs--tab{
        padding: 10px 25px;
        flex: none;
        white-space: nowrap;
        cursor: pointer;
        
        &.s-active{
            border-bottom: 4px solid palette(brand);
            
            color: palette(brand,dark);
        }

        &:hover{
            color: palette(brand);
        }
    }


.c-navigation__tertiary{
    background-color: palette(grey);
    color: white;
    padding: spacing(xx-small);

    @include breakpoint(medium){
        margin-bottom: spacing(medium);
        padding: spacing(xx-small) spacing(medium);
    }
}

.o-navigation--pagination{
    border-top: $ritchie-border;
    padding: spacing(medium) 0;
    position: relative;
    text-align: center;

    & > div{
        padding: spacing(x-small) 0;
    }
}

    .o-navigation-link{
        padding: 0 spacing(xx-small);

        @include breakpoint(medmax){
            padding: spacing(medium) spacing(small);
        }

        &.s-active{
            color: black;
            font-weight: 700;
        }
    }


