.c-nav-tabs{
    border-bottom: 1px solid palette(grey,2);
    margin-bottom: spacing(medium);
}

    .c-nav-tabs--tab-group{
        //flex-flow: start;
    }

    .c-nav-tabs--tab{
        padding: 10px 25px;
        flex-grow: 0;
        white-space: nowrap;
        cursor: pointer;
        
        &.s-active{
            border-bottom: 4px solid palette(brand);
            
            color: palette(brand,dark);
        }

        &:hover{
            color: palette(brand);
        }
    }


.c-navigation__tertiary{
    background-color: palette(grey);
    color: white;
    padding: spacing(xx-small) spacing(large);

    .s-pin-nav &{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 spacing(large);
        z-index: 100;
    }
}