.c-search-filter{
    background-color: palette(grey,1);
    padding-top: spacing(x-small);

    @include breakpoint(medium){
        padding-top: 0;
        background-color: white;
    }
}

.c-search-filter--search{
    padding: spacing(xx-small) spacing(large);
}

.c-search-filter--filter{
    background-color: palette(grey,1);
    position: relative;
    padding: spacing(xx-small) spacing(medium);

    @include breakpoint(medium){
        padding: spacing(xx-small) spacing(large);
    }
}

    // #o-search-filter--visibility-toggle{
    //     appearance: none;

    //     & + label{
    //         display: block;
    //         margin: 0 spacing(medium) spacing(x-small);
    //     }

    //     &:checked + label div{
    //         background-color: palette(blue);
    //         color: white;
    //     }

    //     &:checked ~ .c-search-filter--search{
    //         display: block;
    //     }
    // }