//TRANSITIONS
$transition-time_1: .2s;
$transition-time_2: .35s;
$transition-function: cubic-bezier(0.630, 0.005, 0.365, 1.000);//cubic-bezier(0.95, 0.05, 0.795, 0.035);

$transition: $transition-time_1 $transition-function;

@mixin transition($properties...){
    transition-property: $properties;
    transition-duration: $transition-time_2;
    transition-timing-function: $transition-function;
}

@mixin transition-delayed($delay, $properties...){
    transition-property: $properties;
    transition-duration: $transition-time_2;
    transition-timing-function: $transition-function;
    transition-delay: $delay;
}

@mixin pulsating{
    animation-name: pulsating;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes pulsating{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.03);
    }
}


@mixin loading($color,$height:4px,$bottom:0){
    overflow: hidden;

    &:after{
        display: block;
        position: absolute;
        content: " ";
        left: 0;
        right: 0;
        height: $height;
        bottom: $bottom;
        background-color: $color;
        transform: translatex(-100%);

        animation-name: waitingslide;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
}



    @keyframes waitingslide{
        0%{
            transform: translatex(-100%);
        }

        50%{
            transform: translatex(0);
        }

        100%{
            transform: translatex(100%);
        }
    }


